
##########################################################
###          BigTreeTech SFS V2.0                      ###
##########################################################

[filament_switch_sensor switch_sensor]
switch_pin: PG15      # STOP 7
pause_on_runout: False
runout_gcode:
   M117 Filament switch runout
   {action_respond_info("Activated runout sensor - switch ")}
   TRIGGER_RUNOUT SENSOR=switch
insert_gcode:
  M117 Filament switch inserted
  

[filament_motion_sensor encoder_sensor]
switch_pin: PG14         # STOP_6
detection_length: 4.00   # def = 2.88
extruder: extruder
pause_on_runout: False
runout_gcode:
  M117 Filament encoder runout
   {action_respond_info("Activated runout sensor - motion ")}
  TRIGGER_RUNOUT SENSOR=motion
insert_gcode:
  M117 Filament encoder inserted
  
